.map{
  width: 100%;
  height: 95vh;
}

.place-pin{
  background: none;
  border: none;
}

.place-pin img{
  width: 25px;
}

.cluster-marker{
  color: #fff;
  background: #FF8200;
  border-radius: 50%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

